<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/dashboard-style.css">
</head>
<body>
  <div class="dashboard-container">
    <%- include('./partials/sidebar'); %>

    <div class="main-content">
      <%- body %>
    </div>

  </div>
  
  <script src="/js/dashboard.js"></script>
</body>
</html>
